[package]
name = "advent-of-rust-2025"
version = "0.1.0"
edition = "2024"

[profile.release]
opt-level = 3
codegen-units = 1
lto = true

[dependencies]
anyhow = "1.0.100"
itertools = "0.14.0"

[dev-dependencies]
assert_cmd = "2"
paste = "1.0.15"
